body {
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    margin:0 auto;
    padding:0;
}
#question {
    display:block;
    margin:0 auto;
    font-size:40px;
    
    margin-top:10vw;
    width:40vw;
    height:50px;
}

input[type=text] {
    padding: 15px;
}
input:focus { 
}
*:focus {
    outline: 0;
}