body {
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    margin:0 auto;
    padding:0;

}
.background {
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:-5;
}

.validation_error
{
	color:red;
}

input[type=text], input[type=email]{
    line-height:130%;
    font-size: inherit;
    font-family:inherit;
    color:inherit;
    
    width:195px;
    height:40px;
    border: 1px solid #bcbcbc;
    border-radius:5px;
    text-align:center;
}
input[type=password] {
    line-height:130%;
    font-size: inherit;
    font-family:inherit;
    color:inherit;
    
    width:195px;
    height:40px;
    border: 1px solid #bcbcbc;
    border-radius:5px;
    text-align:center;
}
input:focus { 
    outline:none;
    border-color:#3f90ff;
    box-shadow:0 0 5px #3f90ff;
}



.button {
    font-family:inherit;
    font-size:20px;
    cursor:pointer;
    
    width:200px;
    height:45px;
    background-color:#3f90ff;
    color:white;
    border: 1px solid #3f90ff;
    border-radius:5px;
}
.button:hover {
    border-color: #3687f5;
    background-color:#3687f5;
    color:#f7f7f7;
    transition-duration: 400ms;
}
.next-button{
    width:100px;
}





#signup-box {
    background-color:white;
    text-align:right;
}
#signup-email {
    position:absolute;
    top:11px;
    right:15px;
}
#signup-button {
    position:absolute;
    top:10px;
    right:15px;
}
#login-link {
    position:absolute;
    top: 60px;
    right: 80px;
}
#question-box {
    background-color:transparent;
    text-align:center;
    margin-top:10px;
}
#frontheader {
    display:block;
    margin:0 auto;
    margin-top:5vh;
    margin-bottom:20px;
    
    font-size:70px;
    font-weight:bold;
    color:#3f90ff;
}

#question {
    display:inline-block;
    margin:0 auto;
    font-size:20px;
    width:40vw;
    height:40px;
}
#search-button {
    display:inline;
    background-color:white;
    color:#3687f5;
}
#search-button:hover{
    display:inline;
    background-color:#3687f5;
    color:white;
}
#navbar{
    background-color:white;
    position:absolute;
    margin-top:10px;
    width:100%;
}
#homeheader {
    margin:0 auto;
    margin-left:50px;
    
    font-size:30px;
    font-weight:bold;
    color:#3f90ff;
}
#home-question {
    position:relative;
    display:block;
    margin:0 auto;
    font-size:20px;
    max-width:40vw;
    min-width:500px;
    margin-top:-30px;
}


#newpage-button {
    position:absolute;
    top:10px;
    right:90px;
    width:130px;
    text-align:center;
}
#logout-link {
    position:absolute;
    top:10px;
    right:20px;
}


#basicinfo {
    position: relative;
	height:100px;
	width:100%;
    top:0px;
    left:0px;
	margin-left:10px;
}

#partitioner
{
	position:relative;
	height:1px;
	background-color:#4089f7;
	top:130px;
}
#wiki_main
{
	position:relative;
	top:120px;
	height:600px;

}
.panel
{
	position:relative;
	margin-left:10px;
	margin-top:10px;

	height:90px;
	width:160px;
	float:left;
}
.panel_header
{
	position:relative;
	height:100%;
	top:0px;

}
.panel_front
{
	position:relative;
	top:0px;
	height:90px;
	width:160px;
}
#newpage {
    position: absolute;
    top:40px;
    left:-100px;
    z-index:15;
    background-color:white:
}
#editor {
    position: absolute;
    top:0px;
    left:130px;
    z-index:15;
    background-color:white:
}
#newsection-input {
    position:absolute;
    top:0px;
    left:650px;
    z-index:15;
}
#newsection-submit {
    position:absolute;
    top:20px;
    left:650px;
    z-index:15;
}
#tb {
    position:absolute;
    top:40px;
    left:650px;
    z-index:15;
}



.page_container
{
	width:400px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
}
#newpost {
    line-height:130%;
    border: 1px solid #bcbcbc;
    border-radius:5px;
    text-align:left;
	overflow:auto;
}
#newpost:focus{
    outline:none;
    border-color:#3f90ff;
    box-shadow:0 0 5px #3f90ff;
}
textarea {
    line-height:130%;
    font-size: inherit;
    font-family:inherit;
    color:inherit;
    
    width:195px;
    height:80px;
    border:1px solid #bcbcbc;
    border-radius:5px;
    text-align:left;
}



#container {
	position:relative;
	width:100%;
	min-width:1024px;
	top:80px;
	height:900px;
	overflow:hidden;
}
#ind-page {
    position:relative;
	float:left;
    top:0px;
	left:0px;
	width:80%;
	height:900px;
}
#ind-title {
	position:relative;
	top:0px;
	left:0px;
	height:100px;
	width:25%;
	font-size:45px;
	text-align:center;
	line-height:48px;
}
#ind-school {
	left:0px;
	height:50px;
	width:25%;
	font-size:36px;
	text-align:center;
}
#ind-description {
	height:50px;
	width:25%;
	text-align:center;

}
#ind-document {
	height:900px;
	width:75%;
	left:25%;
	top:-230px;
	position:relative;
	float:left;
	overflow:auto;
}
#edit-button {
	height:30px;
	width:25%;
	cursor:pointer;
	text-align:center;
	z-index:0;
}




#sidebar
{
	position:relative;
	float:left;
	width:19%;
	top:0px;
	height:900px;
	border-left:1px solid #4089f7;
}
.title {
    font-size:30px;
    cursor:pointer;
}
.school {
    color:grey;
}






.editor-button {
    font-size:15px;
    cursor:pointer;
    
    width:80px;
    height:30px;
    margin-right:1px;
    margin-bottom:10px;
    
    background-color:white;
    color:#3f90ff;
    border: 1px solid #3f90ff;
    border-radius:5px;
}
.editor-button:hover {
    font-size:15px;
    cursor:pointer;
    
    width:80px;
    height:30px;
    margin-right:1px;
    margin-bottom:10px;
    
    border-color: #3687f5;
    background-color:#3687f5;
    color:#f7f7f7;
    border-radius:5px;

    transition-duration: 400ms;
}

.publish-button {
    font-size:20px;
    cursor:pointer;
    
    width:200px;
    height:40px;
    margin-right:1px;
    margin-bottom:10px;
    
    background-color:white;
    color:#3f90ff;
    border: 1px solid #3f90ff;
    border-radius:5px;
}
.publish-button:hover {
    border-color: #3687f5;
    background-color:#3687f5;
    color:#f7f7f7;
    transition-duration: 400ms;
}
.cancel-button {
    width:100px;
}


textarea:focus {
    outline:none;
    border-color:#3f90ff;
    box-shadow:0 0 5px #3f90ff;
}

::-webkit-scrollbar { 
    display: show; 
}
::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;
}



h1 {
    color:#737373;
}
.center
{
	text-align:center;
}
.centerEd {
	position:relative;
	top:900px;
	height:900px;
	width:70%;
    text-align:center;
}
.blockcenter {
    display:block;
    margin:0 auto;
}
.blank {
    display:none;
}
.stat {
    position:absolute;
    top: 25px;
    right: 450px;
}
.spacebelow {
    margin-bottom:15px;
}
.sevenbelow {
    margin-bottom:7px;
}
.spaceup {
    margin-top:10px;
}



a:link{
    font-size:18px;
    color: grey;
    text-decoration:none; 
}
a:hover{
    color: black;
    transition-duration: 400ms;
    text-decoration:none;
}
a:visited{
    color: grey;
    text-decoration:none;
}
a:visited:hover{
    color: black;
    transition-duration: 400ms;
    text-decoration:none;
}